:root{
    --dark_orange: #efad18;
    --default: #fbbe36;
    --biscuit: #fbf7ec;
    --black: #282623;
    --white: white;
    --grey: #4f5047;
    --dark_accent: #e7272d;
    --dark_grey: #282623;
    --ghost: #ADADAD;
 }
 @font-face {
    font-family: PermanentMarker; 
    src: url(fonts/PermanentMarker-Regular.ttf); 
}
@font-face {
    font-family: Lato; 
    src: url(fonts/Lato-Regular.ttf); 
}
@font-face {
    font-family: Rubik; 
    src: url(fonts/Rubik-VariableFont_wght.ttf); 
}
* {
    margin: 0;
}
body{
    min-width: 1900px;
}
span{
    display: block; 
    text-align: left;
}
.header{
    margin: 0 auto;
    display: flex;
}
.top_line{
    background-color: var(--dark_orange);
    width: 100%;
    height: 51px;
    justify-content: space-between;
    align-items: center;
}
.top_nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.top_nav_item{
    margin-left: 333px;
    margin-top: 17px;
    color: var(--white);
    font-size: 15px;
    font-family: 'Lato', sans serif;
    font-weight: 900;
}
.logo{
    width: 225px;
    height: 42px;
}
.navigation_block{
    position: relative;
    display: flex;
    margin: 0;
    padding-left: 330px;
    padding-right: 750px;
    height: 102px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default);
}
.list{
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.list_item{
    margin-left: 35px;
}
.list_text{
    text-decoration: none; 
    font-family: 'Lato', sans serif;
    font-size: 17px; 
    font-weight: 600;
    color: var(--grey);
    transition: .2s ease color;
}
.list_text:hover{
    color: var(--dark_accent);
}
.main{
    position: relative;
    background: url(BurgerTruck/cover1.jpg) no-repeat;
    background-size: 100% auto;
    padding-left: 330px;
    padding-top: 150px;
    padding-bottom: 157px;
    margin: 0;

}
.name{  
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.text{
    font-family: 'Rubik', sans serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
}
.description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey);
}
.main_bottom{
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.main_btn{
    border-radius: 25px;
    border: 0;
    background-color: var(--dark_accent);
    font-size: 16.5px;
    font-family: 'Lato', sans serif;
    color: var(--white);
    height: 51px;
    width: 139px;
    font-weight: 600;
    transition: .4s ease background-color;
}
.main_btn:hover{
    background-color: var(--dark_grey);
}
.main_phone_icon{
    margin-left: 50px;
    height: 50px;
    width: 50px;
}
.main_phone_text{
    padding-left: 18px;
    font-size: 16.5px;
    font-weight: 600;
    font-family: 'Lato', sans serif;
    color: var(--white);
}
.main_phone_number{
    padding-left: 18px;     
}
.main_phone_number_href{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato', sans serif;
    color: var(--black);
    text-decoration: none;
}
.first_divider_img{
    width: 100%;
}
.small_about_us{
    position: relative;
    background: url(BurgerTruck/bg-22.jpg) no-repeat;
    background-size: 100% auto;
    display: flex;
    padding-bottom: 50px;
}
.small_about_us_conteiner{
    max-width: 1200px;
    align-items: center;
    display: flex;
    margin-left: 21%;
}
.small_about_us_burger_img{
    height: 588px;
    width: 570px;
}
.small_about_us_burger{
    padding-top: 130px; 
}
.small_about_us_text{
    padding-top: 145px;
}
.small_about_us_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.small_about_us_main_text{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;  
    color: var(--black);
}
.small_about_us_description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey);
    padding-bottom: 15px;
}
.small_about_us_second_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-bottom: 10px;
}
.small_about_us_third_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-top: 10px;
    padding-bottom: 30px;
}
.small_about_us_btn{
    width: 168px;
    height: 51px;
    background-color: var(--dark_accent);
    transition: .4s ease background-color;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
}
.small_about_us_btn:hover{
    background-color: var(--dark_grey);
}
.small_about_us_list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.small_about_us_list_item_text{
    color: var(--grey);
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 25px;
}
.small_about_us_list_icon{
    height: 20px;
    width: 20px;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--dark_grey);
}  
.second_divider{
    height: 165px;
}
.second_divider_img{
    width: 100%;
}
.our_burgers{
    position: relative;
    background: url(BurgerTruck/bg-3.jpg) no-repeat;
    background-size: 100% auto;
    display: block;
    justify-content: center;
    text-align: center; 
    padding-bottom: 50px;
    padding-top: 50px;   
}
.our_burgers_conteiner{
    max-width: 1200px;
    align-items: center;
    margin-left: 20%;
}
.our_burgers_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
    padding-top: 20px;
}
.our_burgers_title{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--black);
}
.our_burgers_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: bold;
    color: var(--grey);
}
.first{
    font-weight: bold;
}
.menu_burger{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.mySlides{
    display: none;
}
.slider_img{
    vertical-align: middle;
    width: 70%;
}
.slideshow-container {
max-width: 300px;
position: relative;
margin: auto;
justify-content: center;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
color: var(--default);
font-weight: bold;
font-size: 18px;
user-select: none;
}
.next {
right: 0;
}
.prev{
left: 0;
}
.name_burger{
    font-family: 'Rubik', sans serif;
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
}
.description_burger{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
}
.price_burger{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--dark_accent);
}
.sales{
    background: url(BurgerTruck/bg-4.jpg) no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
}
.blocks_sales{   
    max-width: 1200px;
    align-items: center;
    margin-left: 20%;
}
.yellow_sale_block{ 
    background: url(BurgerTruck/Yellowbanner.jpg) no-repeat;  
    background-size: 100% auto;
    display: inline-block;
    width: 650px;
    border-radius: 7px;
    margin-right: 1%;
    padding-bottom: 30px;
}
.red_sale_block{  
    display: inline-block;
    background: url(BurgerTruck/Redbanner.jpg) no-repeat;  
    background-size: 100% auto;
    width: 500px;
    border-radius: 7px;
    padding-bottom: 30px;
}
.sale_marker_yellow{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
    padding-top: 35px;
    padding-left: 40px;
}
.sale_name_yellow{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    padding-top: 10px;
    padding-left: 40px;
}
.sale_description_yellow{
    font-family: 'Lato', sans serif;
    font-size: 16px;
    color: var(--grey);
    padding-top: 10px;
    padding-left: 40px;
}
.sale_btn_yellow{
    width: 139px;
    height: 51px;
    background-color: var(--white);
    transition: .2s ease background-color, color;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    color: var(--black);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}
.sale_btn_yellow:hover{
    background-color: var(--dark_accent);
    color: var(--white);
}
.sale_marker_red{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    padding-top: 35px;
    padding-left: 40px;
}
.sale_name_red{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    padding-top: 10px;
    padding-left: 40px;
}
.sale_description_red{
    font-family: 'Lato', sans serif;
    font-size: 15px;
    color: var(--white);
    padding-top: 10px;
    padding-left: 40px;
}
.sale_btn_red{
    width: 139px;
    height: 51px;
    background-color: var(--white);
    transition: .2s ease background-color, color;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    color: var(--black);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}
.sale_btn_red:hover{
    background-color: var(--default);
    color: var(--white);
} 
.meat_quality{
    align-items: center;
}
.meat_quality_img_div{
    float: left;
    width: 50%;
}
.meat_quality_img{
    width: 100%;
    height: 100%;
}
.meat_quality_text{
    display: inline-block;
    margin-left: 8%;
    margin-top: 6%;
}
.meat_quality_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.meat_quality_name{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 0.8;
    color: var(--black);
}
.meat_quality_description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 25px;
}
.meat_quality_small_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--grey);
    margin-bottom: 25px;
}
.meat_quality_nav{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
.meat_quality_nav_item{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: bold;
    color: var(--dark_grey);
    margin-bottom: 18px;  
}
.meat_quality_second_small_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--grey);
    padding-top: 5px;
    margin-bottom: 135px;
}
.meat_quality_nav_item_icon{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.servises{
    background: url(BurgerTruck/bg-5.jpg) no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-bottom: 100px;
}
.servises_text{
    text-align: center;
    padding-top: 100px;
}
.servises_text_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.servises_text_name{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 0.8;
    color: var(--black);
}
.servises_text_description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    color: var(--dark_grey);
}
.franchising{
    width: 1200px;
    height: 435px;
    border-radius: 10px;
    border: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: var(--white);
}
.catering{
    width: 1200px;
    height: 435px;
    border-radius: 10px;
    border: 0;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: var(--white);
}
.franchising_img_div{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
.franchising_img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.franchising_text{
    display: inline-block;
    padding-left: 40px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 15px;
    height: 100%;
}
.franchising_text_name{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--black);
}
.franchising_sup{
    display: flex;
    margin-top: 30px;
}
.franchisin_img_sup{
    height: 20px;
    width: 20px;
}
.franchising_sup_text{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-left: 10px;
}
.franchising_text_desription{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    color: var(--dark-grey);
}
.franchising_text_second_desription{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-top: 30px;
}
.franchising_btn{
    width: 139px;
    height: 51px;
    background-color: var(--default);
    transition: .2s ease background-color;
    border: 0;
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
    margin-top: 30px;
}
.franchising_btn:hover{
    background-color: var(--dark_grey);
}
.catering_img_div{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;
}
.catering_img{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.catering_text{
    display: inline-block;
    padding-left: 40px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 15px;
    height: 100%;
}
.catering_text_name{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--black);
}
.catering_text_desription{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    color: var(--grey);
}
.catering_sup{
    display: flex;
    margin-top: 30px;
}
.catering_img_sup{
    height: 20px;
    width: 20px;
}
.catering_sup_text{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-left: 10px;
}
.catering_text_second_desription{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-top: 30px;
}
.catering_btn{
    width: 139px;
    height: 51px;
    background-color: var(--default);
    transition: .2s ease background-color;
    border: 0;
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
    margin-top: 30px;
}
.catering_btn:hover{
    background-color: var(--dark_grey);
}
.video{
    width: 100%;
    background: url(Burgertruck/Video.jpg) no-repeat;
    background-size: 100% auto;
    padding-bottom: 200px;
}
.video_text{
    padding-left: 19%;
    padding-top: 200px;
}
.video_text_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.video_text_name{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--white);
}
.video_text_description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--ghost);
}
.href_video{
    display: flex;
    margin-top: 50px;
}
.icon_video{
    height: 70px;
    width: 70px;
}
.text_href_video{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    padding-top: 23px;
    padding-left: 15px;
}