:root{
    --dark_orange: #efad18;
    --default: #fbbe36;
    --biscuit: #fbf7ec;
    --black: #282623;
    --white: white;
    --grey: #4f5047;
    --dark_accent: #e7272d;
 }
.menu{
    position: relative;
}
.menu_img{
    height: 100%;
    width: 100%;
    margin-top: -70px;
}
.top_line{
    position: absolute;
    height: 51px;
    width: 100%;
    background-color: var(--dark_orange);
}
.nav{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav_item{
   margin-left: 300px;
   color: var(--white);
   font-weight: bold;
}
.logo_img{
    display: block;
    position: absolute;
    height: 42px;
    width: 235px;
    top: 80px;
    left: 330px;
}
.menu_list{
    position: absolute;
    display: flex;
    list-style-type: none;
    align-items: center;
    top: 80px;
    left: 700px;
}
.menu_item{
    text-decoration: none;
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    color: var(--grey);
}
.main_header{
    position: absolute;
    top: 300px;
    left: 333px;
}
.main_header_name{
    font-size: 19px;
    font-family: comic sans ms;
    color: var(--dark_accent);
    font-weight: 700;
}
.main_header_text{
    font-size: 70px;
    color: var(--white);
    font-weight: 800;
    line-height: 0.9;
}
.main_header_description{
    padding-top: 25px;
    font-size: 20px;
    color: var(--white);
    font-weight: 550;
    line-height: 1.5;
    color: var(--grey);
}
.header_btn{
    position: absolute;
    top: 720px;
    left: 333px;
    padding: 17px 27px 17px 27px;
    border-radius: 30px;
    border: none;
    background-color: var(--dark_accent);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}