:root{
    --dark_orange: #efad18;
    --default: #fbbe36;
    --biscuit: #fbf7ec;
    --black: #282623;
    --white: white;
    --grey: #4f5047;
    --dark_accent: #e7272d;
    --dark_grey: #282623;
 }
 @font-face {
    font-family: PermanentMarker; 
    src: url(fonts/PermanentMarker-Regular.ttf); 
}
@font-face {
    font-family: Lato; 
    src: url(fonts/Lato-Regular.ttf); 
}
@font-face {
    font-family: Rubik; 
    src: url(fonts/Rubik-VariableFont_wght.ttf); 
}
* {
    margin: 0;
}
body{
    min-width: 1900px;
}
.header{
    margin: 0 auto;
    display: flex;
}
.top_line{
    background-color: var(--dark_orange);
    width: 100%;
    height: 51px;
    justify-content: space-between;
    align-items: center;
}
.top_nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.top_nav_item{
    margin-left: 333px;
    margin-top: 17px;
    color: var(--white);
    font-size: 15px;
    font-family: 'Lato', sans serif;
    font-weight: 900;
}
.logo{
    width: 225px;
    height: 42px;
}
.navigation_block{
    position: relative;
    display: flex;
    margin: 0;
    padding-left: 330px;
    padding-right: 750px;
    height: 102px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default);
}
.list{
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.list_item{
    margin-left: 35px;
}
.list_text{
    text-decoration: none; 
    font-family: 'Lato', sans serif;
    font-size: 17px; 
    font-weight: 600;
    color: var(--grey);
    transition: .2s ease color;
}
.list_text:hover{
    color: var(--dark_accent);
}
.main{
    position: relative;
    background: url(/BurgerTruck/cover1.jpg) no-repeat;
    background-size: 100% auto;
    padding-left: 330px;
    padding-top: 150px;
    padding-bottom: 157px;
    margin: 0;
}
.name{  
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.text{
    font-family: 'Rubik', sans serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
}
.description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey);
}
.main_bottom{
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.main_btn{
    border-radius: 25px;
    border: 0;
    background-color: var(--dark_accent);
    font-size: 16.5px;
    font-family: 'Lato', sans serif;
    color: var(--white);
    height: 51px;
    width: 139px;
    font-weight: 600;
    transition: .4s ease background-color;
}
.main_btn:hover{
    background-color: var(--dark_grey);
}
.main_phone_icon{
    margin-left: 50px;
    height: 50px;
    width: 50px;
}
.main_phone_text{
    padding-left: 18px;
    font-size: 16.5px;
    font-weight: 600;
    font-family: 'Lato', sans serif;
    color: var(--white);
}
.main_phone_number{
    padding-left: 18px;     
}
.main_phone_number_href{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato', sans serif;
    color: var(--black);
    text-decoration: none;
}
.first_divider_img{
    width: 100%;
}
.small_about_us{
    position: relative;
    background: url(/BurgerTruck/bg-22.jpg) no-repeat;
    background-size: 100% auto;
    display: flex;
    padding-bottom: 50px;
}
/*.small_about_us_conteiner{
    max-width: 1200px;
}*/
.small_about_us_burger_img{
    height: 588px;
    width: 570px;
}
.small_about_us_burger{
    padding-top: 130px;
    margin-left: 370px;
}
.small_about_us_text{
    padding-top: 145px;
}
.small_about_us_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.small_about_us_main_text{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;  
    color: var(--black);
}
.small_about_us_description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey);
    padding-bottom: 15px;
}
.small_about_us_second_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-bottom: 10px;
}
.small_about_us_third_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
    padding-top: 10px;
    padding-bottom: 30px;
}
.small_about_us_btn{
    width: 168px;
    height: 51px;
    background-color: var(--dark_accent);
    transition: .4s ease background-color;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Lato', sans serif;
    font-size: 16.5px;
    font-weight: bold;
}
.small_about_us_btn:hover{
    background-color: var(--dark_grey);
}
.small_about_us_list{
    display: flex;
    list-style-type: none;
    margin-left: -40px;
}
.small_about_us_list_item_text{
    color: var(--grey);
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 25px;
}
.small_about_us_list_icon{
    height: 20px;
    width: 20px;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--dark_grey);
}  
.second_divider{
    height: 165px;
}
.second_divider_img{
    width: 100%;
}
.our_burgers{
    position: relative;
    background: url(/BurgerTruck/bg-3.jpg) no-repeat;
    background-size: 100% auto;
    display: block;
    justify-content: center;
    text-align: center;    
}
/*.our_burgers_conteiner{
    max-width: 1200px;
}*/
.our_burgers_marker{
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.our_burgers_title{
    font-family: 'Rubik', sans serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;
    color: var(--black);
}
.our_burgers_description{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    font-weight: bold;
    color: var(--grey);
}
.first{
    font-weight: bold;
}
.menu_burger{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.mySlides{
    display: none;
}
.slider_img{
    vertical-align: middle;
    width: 70%;
}
.slideshow-container {
max-width: 300px;
position: relative;
margin: auto;
justify-content: center;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
color: var(--default);
font-weight: bold;
font-size: 18px;
user-select: none;
}
.next {
right: 0;
}
.prev{
left: 0;
}
.name_burger{
    font-family: 'Rubik', sans serif;
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
}
.description_burger{
    font-family: 'Lato', sans serif;
    font-size: 17px;
    color: var(--grey);
}
.price_burger{
    font-family: 'Rubik', sans serif;
    font-size: 36px;
    font-weight: bold;
    color: var(--dark_accent);
}
.sales{
    position: relative;
    display: inline-block;
    background: url(/BurgerTruck/bg-4.jpg) no-repeat;
    background-size: 100% auto;
    padding-top: 85px;
    width: 100%;
}
.block_sales{   
    max-width: 1200px;
    margin: 0;
}
.yellow_sale_block{ 
    background: #fc3;  
    padding-right: 200px;
    display: inline-block;
}
.red_sale_block{  
    background: red; 
    display: inline-block;
} 