:root{
    --dark_orange: #efad18;
    --default: #fbbe36;
    --biscuit: #fbf7ec;
    --black: #282623;
    --white: white;
    --grey: #4f5047;
    --dark_accent: #e7272d;
    --dark_grey: #282623;
 }
 @font-face {
    font-family: PermanentMarker; 
    src: url(fonts/PermanentMarker-Regular.ttf); 
}
@font-face {
    font-family: Lato; 
    src: url(fonts/Lato-Regular.ttf); 
}
@font-face {
    font-family: Rubik; 
    src: url(fonts/Rubik-VariableFont_wght.ttf); 
}
.header{
    margin: 0 auto;
    display: flex;
}
.top_line{
    background-color: var(--dark_orange);
    width: 100%;
    height: 51px;
    justify-content: space-between;
    align-items: center;
}
.top_nav{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.top_nav_item{
    margin-left: 333px;
    margin-top: 17px;
    color: var(--white);
    font-size: 15px;
    font-family: 'Lato', sans serif;
    font-weight: 900;
}
.logo{
    width: 225px;
    height: 42px;
}
.navigation_block{
    position: relative;
    display: flex;
    margin: 0;
    padding-left: 330px;
    padding-right: 750px;
    height: 102px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default);
}
.list{
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.list_item{
    margin-left: 35px;
}
.list_text{
    text-decoration: none; 
    font-family: 'Lato', sans serif;
    font-size: 17px; 
    font-weight: 600;
    color: var(--grey);
    transition: .2s ease color;
}
.list_text:hover{
    color: var(--dark_accent);
}
.main{
    position: relative;
    background: url(/BurgerTruck/cover1.jpg) no-repeat;
    background-size: 100% auto;
    padding-left: 330px;
    padding-top: 150px;
}
.name{  
    font-family: 'PermanentMarker';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark_accent);
}
.text{
    font-family: 'Rubik', sans serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
}
.description{
    font-family: 'Lato', sans serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--grey);
}